:root {
  --color-search: rgba(148, 148, 148, 0.4);
  --main-color-search: rgb(40, 19, 231);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  place-items: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  }
.layout {
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  padding: 0;
  grid-template-areas: 
  'search'
  'result';
align-self: start;
  gap: 1rem;
  transition: background-image .3s linear;
  /* background-image: linear-gradient(to right top, #6b7dd1, #6279d2, #5975d4, #4e71d5, #426dd6, #4265d0, #425dc9, #4355c2, #4c47b1, #52389f, #55298e, #55187c); */
}
.rain,
.clouds,
.clear {
  background-size: cover;
}
.rain {
  background-image: url('assets/rain.jpg');
}
.clouds {
  background-image: url('assets/cloudly.avif');
}
.clear {
  background-image: url('assets/sunny.jpg');
}
form {
  background-color: #fff;
  padding: .75rem;
  border-radius: .75rem;
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: 1fr;
  grid-area: search;
  gap: .5rem;
  border: 3px solid rgb(172, 172, 172);
  max-width: 50vw;
  align-self: end;
  margin: 0;
  padding: 0;
  grid-template-areas: 'text submit';
}

form input[type="text"] {
  width:100%;
  grid-area: text;
  font-size: 2.5rem;
  border-radius: .25rem;
  padding: .5rem;
  border: none;
  outline: transparent;
  color: var(--main-color-search)
}

form input[type="text"]::placeholder {
  color: var(--color-search)
}

form input[type="submit"] {
  grid-area: submit;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background: none;
  /* background-image: linear-gradient(to right top, #6b7dd1, #6279d2, #5975d4, #4e71d5, #426dd6, #4265d0, #425dc9, #4355c2, #4c47b1, #52389f, #55298e, #55187c); */
}
.weatherResponse {
  background-color: #fff;
  font-size: 1.5rem;
  grid-area: result;
  border-radius: .75rem;
  position: relative;
  min-width: 30.2dvw;
  /* padding: .75rem; */
}
.error {
  background-color: #fff;
  font-size: 1.5rem;
  color: rgb(245, 53, 53);
  border-radius: .75rem;
  width: calc(100% - 2rem);
  align-self: start;
  margin: 0;
  padding: 0;
  /* padding: 1rem */
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}