:root {
  --color-search: rgba(148, 148, 148, 0.6);
  --main-color-search: rgba(30, 30, 30, 0.8);
  --color-resp: rgba(80, 80, 80, 1);
  --bgc: rgb(71, 177, 247);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
    font-style: normal;
  
  margin: 0;
  padding: 0;
  place-items: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  }
  .loader {
    animation: loader 1s linear infinite;
  }
  @keyframes loader {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.8);
    }
    50% {
      box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.8);
    }
    100% {
      box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.8);
    }
  }
.layout {
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 72px 1fr;
  grid-template-areas: 
  'favorite'
  'search'
  'result';
  gap: 1rem;
  transition: background-position .3s linear;
  background-color: var(--bgc);
  box-sizing: border-box;
}
.waiting {
  cursor: wait
}

.fav {
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-style: normal;
  grid-template-areas: favorite;
  width: min(calc(90vw - 2rem), 820px);
  align-self: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 1.125rem;
  color: #444
}
.fav div {
  flex: 0 1 21.4%;
  border-radius: .75rem;
  background-color: #fff;
  padding: .5rem;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fav div:hover {
  cursor: pointer;
}
.fav div p {
  width: 100%;
  text-align: center;
  line-clamp: 3;
}
.fav div button {
  opacity: 0;
  height: fit-content;
  transition: .2s linear;
  border: none;
  color:tomato;
  font-size: 1.5rem;
  background-color: transparent;
}
.fav div:hover button {
  opacity: 1;
  cursor: pointer;
}
form {
  background-color: #ffffff;
  border-radius: .75rem;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 48px;
  grid-template-rows: 1fr;
  grid-area: search;
  column-gap: .5rem;
  align-self: end;
  height: 70px;
  margin: 0;
  padding: 0 .5rem;
  width: min(calc(90vw - 1rem), calc(820px - 1rem));
  grid-template-areas: 'text submit';
  
}
form input[type="text"] {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 .5rem;
  width:auto;
  height: 48px;
  grid-area: text;
  font-size: 2rem;
  border-radius: .5rem;
  outline-color: rgba(148, 148, 148, 0.6);
  border: transparent;
  color: var(--main-color-search)
}

form input[type="text"]::placeholder {
  color: var(--color-search)
}

form input[type="submit"] {
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: none;
  background: none;
  cursor: pointer;
}

form div {
  display: flex;
  align-items: center;
  grid-area: submit;
  background-color: transparent;
  border-radius: .5rem;
  position: relative;
  transition: 0.3s linear;
}
form div:hover {
  background-color: rgba(55, 146, 221, 0.2);
}
.cityFav {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.response {
  align-self: start;
  display: grid;
  position: relative;
  grid-area: result;
  width: min(90vw, 820px);
  height: 72px;
}
.weatherResponse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items:space-between;
  justify-content:space-between;
  font-size: 1.5rem;
  flex-wrap: wrap;
  border-radius: .75rem;
  color: var(--color-resp);
  gap: .25rem;
}
.weatherResponse div {
  background-color: #fff;
  margin: 0;
  width: min(156px, 100%);
  height: 70px;
  border-radius: .75rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  columns: 2;
  gap:.5rem;
  justify-content: flex-start;
}
.weatherResponse div:first-child {
  width: min(300px, 100%);
}
.weatherResponse div p{
  word-wrap: break-word;
  word-break:break-word;
  hyphens:auto;
padding: 0;
margin: 0;
}
.weatherResponse div p::first-letter {
  text-transform: uppercase;
}
.weatherResponse div svg {
  margin-left: .5rem;
}
.weatherResponse div img {
  width: 2.5rem;
  margin-left: .5rem;
}
.error {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-items:space-between;
  justify-content:space-between;
  font-size: 1.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  color: rgb(245, 53, 53);
  border-radius: .75rem;
  width: min(calc(90vw - 2rem), calc(820px - 2rem));
  justify-self: start;
  margin: 0;
  padding: 1rem;
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    
#app {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}