:root {
  --color-search: rgba(148, 148, 148, 0.6);
  --main-color-search: rgba(30, 30, 30, 0.8);
  --color-resp: rgba(80, 80, 80, 1);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  }
.layout {
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  'search'
  'result';
  gap: 1rem;
  transition: background-position .3s linear;
  background-color: cadetblue;
  box-sizing: border-box;
}
.rain,
.clouds,
.clear {
  transition: background-position .3s linear;
}
.rain {
  background-position-y: 0 40%;
}
.clouds {
  background-position-y: 15%;
}
.clear {
  background-position-y: 0%;
}
form {
  border:1px solid;
  background-color: #ffffff;
  border-radius: .75rem;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 4rem 4rem;
  grid-template-rows: 1fr;
  grid-area: search;
  column-gap: .5rem;
  align-self: end;
  height: 70px;
  margin: 0;
  padding: 0;
  width: min(90vw, 800px);
  grid-template-areas: 'text loader submit';
  
}
form div {
  height: 100%;
  display: flex;
  justify-content: center;
}
form input[type="text"] {
  background-color: #fff;
  width:94%;
  grid-area: text;
  font-size: 2rem;
  border-radius: .85rem;
  padding: 0 1rem;
  border: 1px solid;
  outline: transparent;
  color: var(--main-color-search)
}
/* form input[type="text"]::first-letter {
  text-transform: uppercase;
  color: red;
} */
form input[type="text"]::placeholder {
  color: var(--color-search)
}

form input[type="submit"] {
  border-radius: .5rem;
  grid-area: submit;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  width: 4rem;
  cursor: pointer;
  background: none;
  border: 1px solid black;
}

.weatherResponse {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  align-items: center;
  justify-items:space-between;
  justify-content:space-between;
  font-size: 1.5rem;
  grid-area: result;
  flex-wrap: wrap;
  border-radius: .75rem;
  color: var(--color-resp);
  width: min(90vw, 800px);
  /* padding: .75rem; */
  align-self: start;
  gap: 1rem;
}
.weatherResponse div {
  background-color: #fff;
  border: 1px solid;
margin: 0;
flex-shrink: 1;
flex-grow: 1;
flex-basis: auto;
height: 70px;
border-radius: .5rem;
font-size: 1rem;
font-weight: 600;
display: flex;
/* flex: 1; */
align-items: center;
flex-direction: row;
justify-content: center;
}
.weatherResponse div p{
padding: 0;
border: 1px solid;
margin: 0;
}
.weatherResponse div p::first-letter {
  text-transform: uppercase;
}
.weatherResponse svg {
  /* display: block; */
  border:1px solid;
}
.weatherResponse div img {
  border:1px solid;
  width: 2.5rem;
}
.error {
  background-color: #fff;
  font-size: 1.5rem;
  color: rgb(245, 53, 53);
  border-radius: .75rem;
  width: min(calc(90vw - 2rem), calc(800px - 2rem));
  align-self: start;
  margin: 0;
  padding: 1rem;
}
.loader, .loader:before, .loader:after {
  margin-top: calc(100% - 3rem);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  color: #c71e1e;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  /* top: 0; */
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    
#app {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}